In [17]:
for i in range(4):
    for j in range(5):
        if i>2 :
            break
        else:
            pass
        print(i,end=" ")
    print()

0 0 0 0 0
1 1 1 1 1
2 2 2 2 2

In [24]:
for i in range(5):
    for j in range(5):
        print(i,end=" ")
    print()

0 0 0 0 0
1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4

In [22]:
for i in range(5):
    for j in range(5):
        print(j,end=" ")
    print()

0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4

In [37]:
i=int(input("enter a number"))
if i>20 and i<40:
    if i%2!=0:
        print(i)
    else:
        pass

enter a number33
33

In [26]:
for i in range(5):
    for j in range(5):
        print("*",end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [38]:
for i in range(5):
    for j in range(i):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4

In [39]:
for i in range(5):
    for j in range(i):
        print(j,end=" ")
    print()

0
0 1
0 1 2
0 1 2 3

In [49]:

for letter in "python":
    if letter == "h":
        break
    print(letter)

p
y
t

In [50]:
for letter in "python":
    if letter == "h":
        continue
    print(letter)

p
y
t
o
n

In [51]:
for letter in "python":
    if letter == "h":
        pass
    print(letter)

p
y
t
h
o
n

In [52]:
fruits=["apple","banana","cherry","orange","kiwi","melon","mango"]
print(fruits[3:5])
print(len(fruits))

['orange', 'kiwi']
7

In [54]:
leng=[3,4,5,"bhooma","venu"]
print(leng)
print(len(leng))

[3, 4, 5, 'bhooma', 'venu']
5

In [57]:
num = (1,2,67,87,56,87,98,64,94,76,87)
print(min(num))
print(max(num))

1
98

In [60]:
veniii = ["loosuu","mentluu","tale_ketton"]
veniii.append("hucha")
print(veniii)

['loosuu', 'mentluu', 'tale_ketton', 'hucha']

In [61]:
num=["bhooma",2,3,4]
num.pop(2)
print(num)

['bhooma', 2, 4]

In [66]:
num = ["bhooma",3,5,"veniii"]
del(num[1:3])
print(num)

['bhooma', 'veniii']